  img {
    padding: 10px;
}

.col {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: pink;
}

.col:hover .overlay {
    opacity: 0.6;
}

#aboutimage {
  border-radius: 50%;
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200%;
	height: 200%;
}

.about-text{
	margin-left: auto;
  margin-right: auto;
	color: black;
	text-align: center;
	width: 70%;
}